:root {
  --invert: #ffffff;
  --dark: #000000;
  --charcoal: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  background-color: var(--invert);
  color: var(--charcoal);
}

/* Header Start */

header {
  max-width: 1200px;
  padding: 1.4rem 8%;
  background-color: aqua;
  margin: auto;
  z-index: 9999;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header End */

/* Home Start */
.home {
  background-image: url(/assets/HeroBackgroundDesktop.png);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home .home-section {
  max-width: 700px;
  max-height: 500px;
  color: var(--invert);
  margin-left: 8%;
  padding-bottom: 4%;
}

.home .home-section .home-title h1 {
  font-family: "Lora", serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 76.8px;
}

.home .home-section .home-title p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.38px;
  margin-top: 2rem;
}

.home .home-button {
  margin-top: 2.8rem;
  display: flex;
  gap: 1rem;
}

.home .home-button .btn,
footer .footer-section .btn {
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: var(--charcoal);
  line-height: 19.5px;
  padding: 12px 24px;
  background-color: var(--invert);
  border-radius: 100px;
  transition: ease-in-out 0.4s;
}

.home .home-button .btn:hover,
footer .footer-section .btn:hover {
  background-color: transparent;
  outline: 1px solid var(--invert);
  color: var(--invert);
}

.home .home-button .btn-outline {
  font-family: "Montserrat", serif;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid var(--invert);
  line-height: 19.5px;
  padding: 12px 24px;
  color: var(--invert);
  border-radius: 100px;
  transition: ease-in-out 0.4s;
}

.home .home-button .btn-outline:hover {
  background-color: var(--invert);
  color: var(--charcoal);
}
/* Home End */

/* Review Start */
#review {
  max-width: 868px;
  max-height: 135px;
  background-color: var(--invert);
  margin: -70px auto 0;
  border: 1px solid var(--invert);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
}

.review .review-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 64px;
}

.review-one h2 {
  font-family: "Montserrat", serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  color: var(--charcoal);
}

.review-one p {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0.5rem;
}
/* Review End */

/* About Start */
#about {
  margin-top: 4rem;
  padding: 5em 8%;
}

.about .about-section {
  display: flex;
}

.about .about-section .about-title {
  padding-right: 18rem;
}

.about .about-section .about-title p {
  color: #333333b2;
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 20px;
  white-space: nowrap;
}

.about .about-section .about-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about .about-section .about-description p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--charcoal);
}
/* About End */

#service {
  margin-top: 3rem;
  padding: 5em 8%;
  display: flex;
  justify-content: space-between;
}

.service .service-section {
  max-width: 900px;
  max-height: 500px;
}

.service .service-section .service-title p {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #333333b2;
}

.service .service-section .service-title h2 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--charcoal);
  margin-top: 2rem;
}

.service .service-section .service-description {
  margin-top: 3rem;
  max-width: 750px;
  max-height: 224px;
}

.service .service-section .service-description .service-content {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.service .service-section .service-description .service-content h3 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--charcoal);
}

.service .service-section .service-description .service-content p {
  font-family: "Montserrat", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--charcoal);
  margin-top: 1rem;
}

aside img {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url(/assets/backgroundAdventuree.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-section {
  max-width: 800px;
  max-height: 300px;
  text-align: center;
}

footer .footer-section h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  color: var(--invert);
  margin-bottom: 2rem;
}
